<section class="about">
  <div class="container-small flex">
    <div class="about-photo">
      <img src="assets/images/cm.png" alt="Photo de Cyrielle Multon">
    </div>
    <div class="about-bio">
      <h3>
        Bonjour, je suis Cyrielle Multon 👋
      </h3>
      <p>
        J’ai obtenu mon Master de Kinésithérapie en 2013 à la Haute École Libre de Bruxelles. Je me suis ensuite spécialisée en thérapie manuelle (Mechanical Diagnosis and Treatment) et en santé de la femme (pelvi-périnéologie et cancer du sein).
        <br>
        <br>
        Recevant de nombreuses mamans en post-partum, je me suis formée en pédiatrie (torticolis, plagiocéphalies, malpositions et malformations du pied du nouveau-né) afin de répondre à leurs interrogations et de mieux les accompagner.
        <br>
        <br>
        Mon perfectionnement en rééducation périnéale m’a, par la suite, amenée à m’intéresser à la périnéologie masculine (troubles de la prostate, rééducation post-prostatectomie, cancer de la vessie).
      </p>
    </div>
  </div>
</section>
