<div class="book">
  <div class="container">
    <h3>
      Prendre rendez-vous
    </h3>
    <div class="flex flex-x-center">
      <a href="tel:+33140359076" class="button-primary book-link">
        {{ site.phone_number }}
      </a>
      <a href="{{ site.doctolib_url }}" class="button-primary book-link" target="_blank">
        Prendre RDV sur Doctolib
      </a>
      <a href="mailto:{{ site.email }}?subject=Contact" class="button-primary book-link" target="_blank">
        Me contacter par email
      </a>
    </div>
  </div>
</div>
