<section class="cab">
  <div class="container">
    <h3>Le cabinet</h3>
    <div class="cab-photos flex">
      <img src="assets/images/cab-01.jpg" alt="Photo du cabinet de Cyrielle Multon">
      <img src="assets/images/cab-02.jpg" alt="Photo du cabinet de Cyrielle Multon">
    </div>
    <div class="cab-equipment">
      <h5>Équipements</h5>
      <div class="cab-equipment-item">
        Appareil de biofeedback, electrostimulation pour la rééducation périnéale
      </div>
      <div class="cab-equipment-item">
        Appareil de manométrie pour la rééducation ano-rectale
      </div>
      <div class="cab-equipment-item">
        Appareil de <a href="https://www.winback-intimity.com/" target="_blank">TECAR Thérapie WINBACK</a> pour le traitement des douleurs pelviennes et des cicatrices
      </div>
      <div class="cab-equipment-item">
        Matériel de rééducation abdominale et pelvienne
      </div>
      <div class="cab-equipment-item">
        Matériel de rééducation de l’épaule pour les patientes en sénologie
      </div>
      <div class="cab-equipment-item">
        Matériel de traitement des cicatrices (césarienne, mastectomie totale ou partielle, reconstruction mammaire...)
      </div>
    </div>
  </div>
</section>
