<section class="skills">
  <div class="container">
    <h3>
      Mes spécialités
    </h3>
    <div class="skills-container flex flex-wrap">
      <div class="skill-card">Périnée féminin</div>
      <div class="skill-card">Périnée masculin</div>
      <div class="skill-card">Douleurs pelviennes</div>
      <div class="skill-card">Rééducation abdominale</div>
      <div class="skill-card">Grossesse</div>
      <div class="skill-card">Sport pré et post natal</div>
      <div class="skill-card">Cicatrices</div>
      <div class="skill-card">Torticolis du nouveau-né</div>
      <div class="skill-card">Plagiocéphalies du nouveau-né</div>
      <div class="skill-card">Pied du nouveau-né</div>
    </div>
  </div>
<section>
