// Box Model
// -----------------------------------------------------------------------------

* { box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box;
}

// Body
// -----------------------------------------------------------------------------

body {
  margin: 0;
  background: $white_paper;
  font-family: $font-family;
  color: $primary_100;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;

  @include text-base;
}

// Links
// -----------------------------------------------------------------------------

a { text-decoration: none; }

// Forms
// -----------------------------------------------------------------------------

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

textarea { resize: none; }

// Images
// -----------------------------------------------------------------------------

img,
svg {
  max-width: 100%;
}

// Typography
// -----------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

h1 {
  @include text-h1;
}

h2 {
  @include text-h2;
}

h3 {
  @include text-h3;
  margin-bottom: 32px;
}

h4 {
  @include text-h4;
}

h5 {
  @include text-h5;
}
