.button-primary {
  @include text-base-bold;

  color: $white-paper;
  background-color: $primary-100;
  padding: 16px 24px;
  border-radius: 100px;

  &:hover {
    background-color: darken($primary-100, 5%);
  }
}

.button-secondary {
  @include text-base-bold;

  color: $primary-100;
  background-color: $white-paper;
  padding: 16px 24px;
  border-radius: 100px;
  border: 2px solid $primary-100;

  &:hover {
    background-color: $primary-300;
  }
}
