.cab {
  background-color: $primary-400;

  .cab-photos {
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: 32px;

    img {
      width: 50%;
      margin-left: 16px;
      margin-right: 16px;
      border-radius: 4px;
    }
  }

  .cab-equipment {

  }

  .cab-equipment-item {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid $primary-300;
  }
}

@media (max-width: 860px) {
  .cab {
    .cab-photos {
      display: block;
      margin-left: 0;
      margin-right: 0;

      img {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 16px;
      }
    }
  }
}
