.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
}

.container-small {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
}

// Utils
// -----------------------------------------------------------------------------

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-x-center {
  justify-content: center;
}

.flex-y-center {
  align-items: center;
}
