.footer {
  display: flex;

  .footer-copyright {
    flex: 1;
  }

  .footer-maker {
    flex: 1;
    text-align: right;

    a:hover {
      border-bottom: 1px solid $primary-300;
    }
  }
}

@media (max-width: 600px) {
  .footer {
    display: block;
    text-align: center;

    .footer-maker {
      margin-top: 16px;
      text-align: center;
    }
  }
}
