.header {
  display: flex;
  align-items: center;

  .header-logo {
    flex: 1;
  }

  .header-name {
    @include text-h4;
  }

  .header-title {
    color: $primary-200;
  }

  .header-actions {
    a:first-child {
      margin-right: 32px;
    }
  }
}

@media (max-width: 860px) {
  .header {
    display: block;
    text-align: center;
  }

  .header-logo {
    margin-bottom: 32px;
  }
}

@media (max-width: 600px) {
  .header {
    .header-actions-tel {
      display: none;
    }
  }
}
