.location {
  .location-map {
    width: 60%;
    margin-right: 32px;
  }

  .location-details {
    width: 40%;
    margin-left: 32px;
  }

  .location-details-item {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 860px) {
  .location {
    .flex {
      display: block;
    }

    iframe {
      display: block;
      height: 320px;
    }

    .location-map {
      width: 100%;
    }

    .location-details {
      width: 100%;
      margin-left: 0;
      margin-top: 16px;
    }

    .location-details-item {
      margin-bottom: 0;

      &:nth-child(2),
      &:last-child {
        display: none;
      }
    }
  }
}
