.skills {
  .skills-container {
    margin-top: -16px;
    margin-left: -16px;
    margin-right: -16px;
  }

  .skill-card {
    display: flex;
    align-items: center;
    width: calc(33.33% - 32px);
    background-color: $primary-400;
    padding: 32px;
    border-radius: 16px;
    justify-content: center;
    font-weight: 500;
    margin: 16px;
    text-align: center;

    &:nth-child(10),
    &:nth-child(11),
    &:nth-child(12) {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 860px) {
  .skills {
    .skill-card {
      width: calc(50% - 32px);
    }
  }
}

@media (max-width: 600px) {
  .skills {
    .skill-card {
      width: calc(100% - 32px);
      padding: 16px;
      margin: 0 auto 16px auto;

      &:nth-child(10),
      &:nth-child(11),
      &:nth-child(12) {
        margin-bottom: 16px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
